*{
    box-sizing: border-box;
}
html, body{
    margin:0;
    padding: 0;
    width: 100%;
   
}
.content-wrapper, footer{
    width: 100%;
}
.content-wrapper{
    height: 65%;
}
.content-wrapper, 
footer, 
footer button{
  
    font-weight: 400;
    font-size: 13px;
    color: #ffffff;
   
}
.content-wrapper{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
header, .top-wrapper, .top-right-corner-wrapper, .title-wrapper,
.menu-wrapper,.menu-wrapper:first-child,.top-right-corner-wrapper button, .menu-desktop,
.image-wrapper,form, form .inputs-wrapper, .title_and_favorite{
    display: flex;
}


header{
    height: 250px;
    background-image: url(../assets/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}
header, .menu-wrapper, .menu-desktop,
.image-wrapper, .title_and_favorite{
    justify-content: space-between;

}
.top-wrapper, 
.menu-wrapper, 
.top-right-corner-wrapper,
.image-wrapper,
form{
    
    flex-direction: column;
}
.top-wrapper, .menu-wrapper{
    width: 50%;
}
.top-wrapper{
    height: 150px;
    
}
 .top-right-corner-wrapper{
    width: 120px;
    height: 100%;
    background-color: #2b2b2b;
    text-transform: lowercase;
    padding: 10px;
   
}
header .title-wrapper{
    justify-content: flex-end;
    padding:0 10px 60px 0;
}
h1,h2{
    margin: 0;
}
h1{
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 100;

}

header h2{
     width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.verticale-line {
    border-left: 2px solid rgba(149,149,149);
    height: 25px;
}
.verticale-line{
    margin: 10px;
}


.fab, .fas{
   
    font-size: 20px;
    color:rgba(149, 148, 149);
    text-align: center;
}
.menu-mobile .fas{
    padding-right: 10px;
}
header .instagram-icon{
    margin-bottom: 20px;
}
a, .menu-mobile .fa-bars, .more_projects button, 
.registration-wrapper button,
.favorites-content-wrapper .title-wrapper button,
.fa-long-arrow-alt-right{
     color:#fff;
}

a{
    text-decoration: none;
   
}


.menu-desktop{
    width: 100%;
    padding: 20px;
}
.menu-mobile {

    padding:10px;
    justify-content: center;
    text-align: end;
}
.menu-mobile, .mobile-menu-wrapper.hidden, .hidden {
    display: none;
}
.image-wrapper{
    width: 100%;
    height: 100%;
    background-image: url(../assets/bedroom-1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}
.image-wrapper:hover{
    opacity: unset;
}
.first_title_image,.second_title_image{
    font-size: 12px;
    font-weight: 500;
    width: 100px;
}
.first_title_image{
   
    padding: 10px 0 0 20px;
}
.second_title_image{
    transform: rotate(-90deg);
    padding-left: 30px;
    padding-bottom: 50px;
}
footer, form{
    font-family: 'Sarala', sans-serif;
}
footer{
    background-color:  #2b2b2b;
    text-transform: uppercase;
}
.contact-title{
    text-align: center;
    font-size: 25px;
    padding: 10px 0 10px 0;
    letter-spacing: 5px;
    
}
.contact-title span:nth-child(2){
    color: #c09c78;
}
form{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.inputs-wrapper div, .registration-wrapper{

    width: 250px;
}

input, textarea{
    width: 200px;
}
.inputs-wrapper input{
    margin-bottom: 15px;
    height: 30px;
}
.inputs-wrapper div input:nth-child(2){
    margin-bottom: 0;
}
.input-validation:required:invalid, .more_projects button,
.registration-wrapper button
 {
     background: #3d3d3d;
     border: none;
     padding: 5px;
 }

.input-validation:disabled {
    background: rgb(0, 0, 255, 0.2);
}

.registration-wrapper, .more_projects{
    text-align: center;
    padding: 15px;
}
.registration-wrapper button{
    width: 80px;
}
.registration-wrapper button, .favorites-content-wrapper .title-wrapper button {
    background-color: #c09c78; 
    
   
}
.more_projects button{
    width: 140px;
}

.more_projects button, .registration-wrapper button
{
    border-radius: 50px;
    height: 30px;
    font-size: 12px;
}

.fa-long-arrow-alt-right{
    font-size: 14px;
    padding-left: 5px;
}

.favorites-icon-wrapper {
    width: 21px;
    height: 21px;
}

.favorites-icon-wrapper img {
    width: 100%;
    height: auto;
}
.title_and_favorite .favorites-images {
    width: 30px;
    height: 30px;
    margin: 10px 20px 0 0;
    background-image: url('../assets/icon-heart-empty.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.title_and_favorite .favorites-images.selected {
    background-image: url('../assets/icon-heart-full.png');
}
.favorites-icon-wrapper .favorites-number {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    color: red;
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 10px;
    text-align: center;
    font-weight: 700;
    line-height: 15px;
    display: none;
}
.favorites-content-wrapper {
    display: none;
    padding: 50px;
    text-transform: capitalize;
    font-size: 18px;
  
}

.favorites-content-wrapper .title-wrapper {
    display: flex;
    justify-content: space-between;
   
}

.favorites-content-wrapper .title-wrapper h1 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 30px;
    color: black;

}
.favorites-content-wrapper .container{
    margin-bottom: 25px;
}
.favorites-content-wrapper .favorites-images{
    display: none;
}
.favorites-content-wrapper .title-wrapper button {
    height: 50px;
    position: relative;
    top: 40px;
    border: none;
    border-radius: 30px;
}
.removed-pictures{
    color: black;
    text-transform: initial;
    font-size: 18px;
}
.container-fluid{
    padding: unset;    
}
.col{
    height: 300px;
}



@media(max-width:599px){
    .col{
        min-width: 100%;
    }
    header{
        height: 150px;
    }
    .top-wrapper,.menu-wrapper{
        height: 100%;
    }
    .top-right-corner-wrapper{
        width: 45%;
        height: 100px;
        font-size: 15px;
        padding: 5px;
    }
    .verticale-line{
        border-left: 3px solid rgba(149,149,149);
        margin: 5px;
    }
    header .instagram-icon{
        margin-bottom: 10px;
    }
    h2, .fas, .fab{
        font-size: 15px;
    }
    
    .menu-mobile{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
 form,.inputs-wrapper{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header .title-wrapper{
        padding: 0 50% 30px 0;
    }
    h1{
        font-size: 25px;
        height: auto;
         justify-content: center;
    }

    .image-wrapper{
        justify-content: center;
    }
   
    .first_title_image,.second_title_image{
        width: 100%;
        justify-content: center;
        margin: 0 auto;
    }
    .second_title_image{
        transform: none;
        padding: 0;
        
    }
    .inputs-wrapper div, .registration-wrapper{

        width:100%;
        text-align: center;
    }
    .inputs-wrapper div{

        display: flex;
        flex-direction: column;
       
    }
    .inputs-wrapper div input:nth-child(2), .inputs-wrapper textarea{
        margin-bottom: 10px;
    }
    .first_title_image span:nth-child(2){
        color: #c09c78;
    }
    .inputs-wrapper input {
        margin-bottom: 10px;
        height: 25px;
    }
    
    textarea{
        height: 50px;
    }
    .contact-title{
        font-size: 15px;
    }
    .registration-wrapper{
        padding-top: 0;
        align-self: flex-end;
    }
    .menu-desktop,.more_projects{
        display: none;
    }
    .content-wrapper{
        z-index: 1;
    }
    #MobileWrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        z-index: 2;
     }
     .mobile-menu-wrapper .title-wrapper h2, .mobile-menu-wrapper nav{
         color: white;
         font-size: 25px;
         padding: 10px 0 0 10px;
     }
     .mobile-menu-wrapper, .list-menu nav{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }
     .mobile-menu-wrapper .title-wrapper{
         width: 100%;
         height: 10%;
         display: flex;
         justify-content: space-between;
     }
    .mobile-menu-wrapper .title-wrapper .close-wrapper{
         width: 35px;
         height: 35px;
         padding: 10px 10px 0 0;
     }
     .close-wrapper img{
         width: 100%;
         height: auto;
     }
     .mobile-menu-wrapper .social-icons{
         height: 10%;
     }
     .mobile-menu-wrapper .social-icons, .mobile-menu-wrapper .social-icons div{
         display: flex;
     }
     .mobile-menu-wrapper .social-icons div{
         width: 50%;
         justify-content: center;
         align-items: center;
         border: none;
         border: 1px solid #fff;
         border-bottom: none;
     }
     .mobile-menu-wrapper .social-icons div:first-child{
         border-left: none;
     }
     .mobile-menu-wrapper .social-icons div:nth-child(2){
         border-right: none;
     }
     .mobile-menu-wrapper nav{
         font-family: 'Barlow', sans-serif;
         font-size: 35px;
         font-weight: 100;
     }
     .mobile-menu-wrapper nav a{
         padding-bottom: 20px;
         opacity: 0.6;
     }
     .mobile-menu-wrapper nav a:first-child{
         opacity: unset;
         font-weight: 400;
     }
     .mobile-menu-wrapper .social-icons .fas,
      .mobile-menu-wrapper .social-icons .fab{
         color: rgba(144,144,144);
         font-size: 25px;
     } 
     .favorites-icon-wrapper .favorites-number{
        width: 10px;
        height: 10px;
        font-size: 7px;
        line-height: unset;
     }
     
}